PORT=
DATABASE_URL=
SECRET_KEY=
RESEND_API_KEY=
EMAIL_FROM=
FRONTEND_URL=
SSO_SUCCESS_REDIRECT_URL=

GOOGLE_OIDC_ISSUER=https://accounts.google.com
GOOGLE_OIDC_CLIENT_ID=
GOOGLE_OIDC_CLIENT_SECRET=
GOOGLE_OIDC_REDIRECT_URI=

CORS_ORIGIN=
